# Ignore databases
db/*.sqlite3
db/backup/*.gz

# Ignore all logfiles and tempfiles.
log
tmp

# Ignore generated binaries
bin/fragmenta*

# Ignore secrets dir
secrets

# Ignore generated assets
public/assets/scripts/app-*
public/assets/styles/app-*